.container {
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    overflow: auto;
    background-color: #eeeeee;
}

.canvas {
    box-sizing: border-box;
    background-color: #fff;
    cursor: url('../../assets/pencil.svg') 0 22, auto;
}