@import '../../styles/variables.scss';
@import '../../styles/shared.scss';

.container {
    width: 40%;
    @media (max-width: $screen-lg) {
        width: 36%;
    }
    @media (max-width: $screen-md) {
        width: 100%;
        margin: 0 auto;
        max-width: 400px;
    }
}

.avatarImage {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.avatarHeader {
    font-family: monospace;
    text-align: center;
    h1 {
        font-size: 3.2rem;
        margin-bottom: 10px;
    }
    p {
        margin: 0;
        font-size: 1.8rem;
    }
    nav {
        margin-top: 32px;
    }
    @media (max-width: $screen-lg) {
        padding-left: 0;
        h1 {
            font-size: 2.6rem;
        }
        p {
            font-size: 1.6rem;
        }
    }
}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactBtn, .contactLink {
    font-size: 1.2rem;
    line-height: 1.4;
    cursor: pointer;
    font-family: monospace;
    display: inline-block;
}

.contactBtn {
    @extend .retroBtn;
    padding: 3px 6px;
    max-width: 100%;
    width: 180px;
    margin-bottom: 6px;
    @media (max-width: $screen-lg) {
        width: 140px;
    }
}

.contactLink {
    margin-top: 10px;
}