.options {
    display: flex;
    flex-direction: column;

}

.button {
    font-size: 1.2rem;
    line-height: 1.4;
    cursor: pointer;
    font-family: monospace;
    min-width: 120px;
    text-align: center;
}

.button.cancel {
    background-color: transparent;
    border: none;
    margin-top: 5px;
}