.container {
    background-color: #efefef;
    border-right: 1px solid #d8d4d4;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.label {
    font-size: 1.1rem;
    width: 4.9rem;
    height: 4.9rem;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
    border-bottom: 1px solid #d8d4d4;
    box-sizing: border-box;
}

.label:hover, .labelOpen {
    background-color: #d8d4d4;
}

.option {
    position: relative;
}

.labelBottom {
    border-bottom: none;
    border-top: 1px solid #d8d4d4;
}

.widthIconContainer {
    position: relative;
    margin-bottom: 1px;
    height: 24px;
    width: 24px;
    border: 2px solid #000;
    border-radius: 50%;
    box-sizing: border-box;
}

.widthIcon {
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title {
    text-align: center;
    margin-top: 0;
    white-space: nowrap;
    font-size: 15px;
    margin-bottom: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputColor {
    position: absolute;
    left: 100%;
    bottom: 100%;
}

.inputContainer {
    position: absolute;
    left: 100%;
    top: -1px;
    z-index: 1;
    background: #d8d4d4;
    display: none;
    min-height: 4.9rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 4px 4px 0;
}

.inputContainer.inputBottom {
    top: auto;
    bottom: 0;
}

.inputMargin {
    margin: 24px;
}

.inputCenter {
    display: flex;
    align-items: center;
}

// .inputContainer.inputHorizontal {
//     width: auto;
// }

.inputContainerRotated {
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: top left;
    width: auto;
    padding: 10px;
    height: 4.8rem;
    flex-direction: row;
    border-radius: 0 0 4px 4px;
}

.inputOpen {
    display: flex;
}

.dashImg {
    width: 24px;
    height: 24px;
}