.container {
    background-color: #efefef;
    border-right: 1px solid #cfcfcf;
    font-family: monospace;
}

.label {
    font-size: 1.1rem;
    width: 4.9rem;
    height: 4.9rem;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
    border-bottom: 1px solid #cfcfcf;
    box-sizing: border-box;
}

.label:hover, .labelOpen {
    background-color: #cfcfcf;
}

.option {
    position: relative;
}

.widthIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    height: 20px;
    width: 20px;
}

.inputColor {
    position: absolute;
    left: 100%;
    bottom: 100%;
}

.inputContainer {
    position: absolute;
    left: 100%;
    top: -1px;
    z-index: 1;
    background: #cfcfcf;
    display: none;
    min-height: 4.9rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.inputMargin {
    margin: 15px;
}

.inputCenter {
    display: flex;
    align-items: center;
}

// .inputContainer.inputHorizontal {
//     width: auto;
// }

.inputContainerRotated {
    // transform: rotate(-90deg) translateX(-100%);
    // transform-origin: top left;
    // width: auto;
    // padding: 10px;
    // height: 4.8rem;
    // flex-direction: row;
}

.inputOpen {
    display: flex;
}

.dashImg {
    width: 24px;
    height: 24px;
}