.container {
    background-color: #efefef;
}

.label {
    font-size: 1.2rem;
    font-family: monospace;
    width: 4rem;
    height: 4rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
    border-bottom: 1px solid #cfcfcf;
}

.label:hover, .labelOpen {
    background-color: #cfcfcf;
}

.labelRadio {
    font-size: 1.2rem;
    font-family: monospace;
}

.option {
    position: relative;
}

.inputColor {
    position: absolute;
    left: 100%;
    bottom: 100%;
}

.inputContainer {
    position: absolute;
    left: 100%;
    top: -1px;
    z-index: 1;
    padding: 10px;
    background: #cfcfcf;
    display: none;
    width: 4rem;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputContainerRotated {
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: top left;
    width: auto;
    height: 4rem;
}

.inputOpen {
    display: flex;
}