.container {
    background-color: #efefef;
}

.button {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
    border-bottom: 1px solid #cfcfcf;
}

.button:hover, .buttonOpen {
    background-color: #cfcfcf;
}

.option {
    position: relative;
}

.inputContainer {
    position: absolute;
    left: 100%;
    top: -1px;
    z-index: 1;
    padding: 10px;
    background: #cfcfcf;
    display: none;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: top left;
}

.inputOpen {
    display: block;
}