.container {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: monospace;
    align-items: center;
    padding: 4px 8px;
    background-color: #e6e6e6;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    box-sizing: border-box;
}
.details {
    padding: 0;
    margin: 0;
    font-weight: bold;
}