@import '../../../../styles/shared.scss';

.input {
    width: 100%;
    font-family: monospace;
    box-sizing: border-box;
    border: 0;
    border-bottom: 2px solid #747474;
    margin-bottom: 10px;
    background-color: transparent;
    &::placeholder {
        color: #575757;
    }
    &:focus {
        outline: 0;
        border-color: #000;
    }
}

.submit {
    @extend .retroBtn;
    font-size: 1.2rem;
    font-family: monospace;
    line-height: 1.4;
    width: 100%;
    margin-top: 6px;
    padding: 3px 6px;
    width: 120px;
    &:disabled {
        color: #616161;
    }
}

.error {
    font-size: 1.2rem;
    color: #880000;
    text-align: center;
    display: block;
    margin-top: 16px;
}