.input {
    width: 100%;
    font-family: monospace;
    box-sizing: border-box;
}

.submit {
    font-size: 1.2rem;
    line-height: 1.4;
    cursor: pointer;
    font-family: monospace;
    width: 100%;
    text-align: center;
    margin-top: 6px;
}

.error {
    font-size: 1.2rem;
    color: #880000;
    text-align: center;
    display: block;
    margin-top: 6px;
}