.title {
    text-align: center;
    margin-top: 0;
}

.input {
    min-width: 220px;
    font-family: monospace;
}

.submit {
    font-size: 1.2rem;
    line-height: 1.4;
    cursor: pointer;
    font-family: monospace;
    width: 100%;
    text-align: center;
    margin-top: 6px;
}