.container {
    position: relative;
    font-weight: bold;
    font-size: 8px;
    margin-top: 30px;
    overflow-x: hidden;
    height: 40px;
}

.duck {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-20ch);
    white-space: nowrap;
}

.duck.hide {
    visibility: hidden;
}