.labelRadio {
    cursor: pointer;
    height: 5rem;
    width: 5rem;
    box-sizing: border-box;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labelRadio img {
    width: 24px;
    height: 24px;
}

.labelRadio:first-of-type {
    border-radius: 0 10px 0 0;
}

.labelRadio:last-of-type {
    border-radius: 0 0 10px 0;
}

.labelRadio:hover {
    background-color: #a9a9a9
}

.input {
    position: absolute;
    top: -10000px;
    left: -10000px;
}

.input:checked + .labelRadio {
    border: 2px solid #000;
}

.input:checked + .labelRadio:hover {
    background-color: inherit;
}