@import '../../styles/variables.scss';

.layout {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 100px;
    box-sizing: border-box;
    max-width: 1600px;
    margin: 0 auto;
    @media (max-width: $screen-lg) {
        padding: 60px;
    }
    @media (max-width: $screen-md) {
        padding: 30px;
        height: auto;
        flex-direction: column;
    }
}