@import '../../styles/variables.scss';

.container {
    background-color: #fff;
    border: 2px solid #000;
    aspect-ratio: 4/3;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    transform: translate(-15px, 15px);
    box-shadow: 0 0 0 0 #666666;
    @media (max-width: $screen-lg) {
        margin-left: 50px;
    }
    @media (max-width: $screen-md) {
        display: none;
    }
}

.loaded {
    animation: lift .8s ease .4s forwards;
}

@keyframes lift {
    0% {
        transform: translate(-15px, 15px);
        box-shadow: 0 0 0 0 #666666;
    }
    100% {
        transform: translate(0px, 0px);
        box-shadow: -15px 15px 0 0 #b3b3b3;
    }        
}