@import '../../styles/shared.scss';

.button {
    @extend .retroBtn;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.2rem;
    font-family: monospace;
    line-height: 1.4;
    padding: 3px 6px;
}