@import '../../styles/variables.scss';

.container {
    font-family: monospace;
    padding: 70px 90px;
    max-width: 640px;
    margin: 0 auto;
    h2 {
        font-size: 2.6rem;
        line-height: 1.2;
        &:after {
            height: 2rem;
        }
    }
    h3 {
        font-size: 2rem;
        &:after {
            height: 1.8rem;
        }
    }    
    p {
        font-size: 1.6rem;
        &:after {
            height: 1.4rem;
        }
        &.intro {
            border: 2px solid black;
            border-radius: 4px;
            padding: 6px;
            margin-bottom: 40px;
            line-height: 1.5;
        }
        & .emphasize {
            background-color: #e6e6e6;
        }
    }
    ul {
        font-size: 1.6rem;
        padding-left: 18px;
        &.columns {
            columns: 2;
        }
    }
    ul li ul li {
        margin: 1.2rem 0;
    }
    .featuredLinks {
        list-style: none;
        margin-bottom: 25px;
        p {
            font-weight: bold;
        }
        div {
            display: flex;
            column-gap: 20px;
            a {
                flex-grow: 1;
                flex-basis: 0;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid black;
                position: relative;
                border: 2px solid #000;
                border-radius: 4px;
                box-shadow: #f1f1f1 -4px 4px 0 0, #000 -4px 4px 0 2px;
                &:hover, &:focus {
                    &::after {
                        opacity: 1;
                    }
                }
                &:active {
                    box-shadow: #f1f1f1 -2px 2px 0 0, #000 -2px 2px 0 2px;
                    transform: translate(-2px, 2px);
                }
                &::after {
                    content: "↗";
                    position: absolute;
                    top: 6px;
                    right: 5px;
                    bottom: 6px;
                    font-size: 2rem;
                    color: black;
                    font-weight: bold;
                    opacity: 0;
                    border: 2px solid black;
                    border-radius: 4px;
                    width: 22px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    .hideDesktop {
        display: none;
    }
    @media (max-width: $screen-lg) {
        padding: 70px;
    }
    @media (max-width: $screen-md) {
        padding: 0;
        .hideDesktop {
            display: inline;
        }
        .hideMobile {
            display: none;
        }
    }
}