@import '../../styles/variables.scss';
@import '../../styles/shared.scss';

.emphasize {
    background-color: #e6e6e6;
}
.container {
    font-family: monospace;
    padding: 70px 90px;
    max-width: 640px;
    margin: 0 auto;
    h2 {
        font-size: 2.6rem;
        line-height: 1.2;
        margin-bottom: 40px;
        &:after {
            height: 2rem;
        }
    }
    h3 {
        font-size: 2rem;
        &:after {
            height: 1.8rem;
        }
    }    
    p {
        font-size: 1.6rem;
        &:after {
            height: 1.4rem;
        }
        &.intro {
            border: 2px solid black;
            border-radius: 4px;
            padding: 6px;
            margin-bottom: 40px;
            line-height: 1.5;
        }
    }
    ul {
        font-size: 1.6rem;
        padding-left: 18px;
        &.columns {
            columns: 2;
        }
    }
    ul li ul li {
        margin: 12px 0;
    }
    .featuredLinks {
        list-style: none;
        margin-top: 18px;
        div {
            display: flex;
            column-gap: 20px;
        }
        a {
            @extend .external;
            @extend .retroBtn;
        }
    }
    section {
        margin-bottom: 60px;
        & > ul.spaced > li {
            margin-bottom: 40px;
        }
    }
    .hideDesktop {
        display: none;
    }
    @media (max-width: $screen-lg) {
        padding: 30px 50px;
    }
    @media (max-width: $screen-md) {
        padding: 0;
        .hideDesktop {
            display: inline;
        }
        .hideMobile {
            display: none;
        }
    }
}